<!DOCTYPE html>
<html>

<head>
    <title>
        LX: Language Translator Engine
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='font.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/jpg" href="{{ url_for('static', filename='favicon.jpg') }}">
</head>
<body>
    <div class="intro">
        <div id="text_container">
            <h1>LX: Language Translator Engine</h1>
        </div>
        

    </div>
    <div class="verticalLine"></div>
    <div id="tile_container">
        
        <div id="tile_card_right">
            <div class="card-large">
                <h5>Reasoning Layer playground</h5>
                <div><a href="{{ url_for('layer_playground') }}">≻</a></div>
                <br>
                <br>
                <p> 1. Lexical Mapping<br>2. Context Memory<br>3. Semantic Search<br>4. Fitment & Transformation<br>5. Output</p>
            </div>
        </div>
        <div id="tile_card_right">
            <div class="card-large">
                <h5>Demo</h5>
                <div><a href="{{ url_for('demo') }}">≻</a></div>
                <br>
                <br>
                <p>LX Reasoning Engine is created to define and leverage many of the critical components necessary for effective text-to-ASL translation. By integrating advanced technologies like LLMs, STM, LTM, and reasoning engines, you can enhance each stage of the process, leading to more accurate and culturally appropriate translations.</p>
            </div>
        </div>
    </div>
    <div class="gola-ka-container">
        <div class="tagcloud-wrapper">

            <div class="tagcloud-controls" style="--num-elements: 20">

                <div class="tagcloud-control-button" style="--index: 1"><input type="radio"
                        name="tagcloud-control-input"></div>
                <div class="tagcloud-control-button" style="--index: 2"><input type="radio"
                        name="tagcloud-control-input"></div>
                <div class="tagcloud-control-button" style="--index: 3"><input type="radio"
                        name="tagcloud-control-input"></div>
                <div class="tagcloud-control-button" style="--index: 4"><input type="radio"
                        name="tagcloud-control-input"></div>
                <div class="tagcloud-control-button" style="--index: 5"><input type="radio"
                        name="tagcloud-control-input"></div>
                <div class="tagcloud-control-button" style="--index: 6"><input type="radio"
                        name="tagcloud-control-input"></div>
                <div class="tagcloud-control-button" style="--index: 7"><input type="radio"
                        name="tagcloud-control-input"></div>
                <div class="tagcloud-control-button" style="--index: 8"><input type="radio"
                        name="tagcloud-control-input"></div>
                <div class="tagcloud-control-button" style="--index: 9"><input type="radio"
                            name="tagcloud-control-input"></div>
                <div class="tagcloud-control-button" style="--index: 10"><input type="radio"
                                name="tagcloud-control-input"></div>
                <div class="tagcloud-control-button" style="--index: 11"><input type="radio"
                                    name="tagcloud-control-input"></div>
                <div class="tagcloud-control-button" style="--index: 12"><input type="radio"
                                        name="tagcloud-control-input"></div>
                <div class="tagcloud-control-button" style="--index: 13"><input type="radio"
                         name="tagcloud-control-input"></div>
                <div class="tagcloud-control-button" style="--index: 14"><input type="radio"
                        name="tagcloud-control-input"></div>
                <div class="tagcloud-control-button" style="--index: 15"><input type="radio"
                            name="tagcloud-control-input"></div>
                <div class="tagcloud-control-button" style="--index: 16"><input type="radio"
                            name="tagcloud-control-input"></div>
                            <div class="tagcloud-control-button" style="--index: 17"><input type="radio"
                                name="tagcloud-control-input"></div>
                                <div class="tagcloud-control-button" style="--index: 18"><input type="radio"
                                    name="tagcloud-control-input"></div>
                                    <div class="tagcloud-control-button" style="--index: 19"><input type="radio"
                                        name="tagcloud-control-input"></div>
                                        <div class="tagcloud-control-button" style="--index: 20"><input type="radio"
                                            name="tagcloud-control-input"></div>
                                            <div class="tagcloud-control-button" style="--index: 21"><input type="radio"
                                                name="tagcloud-control-input"></div>
                                                <div class="tagcloud-control-button" style="--index: 22"><input type="radio"
                                                    name="tagcloud-control-input"></div>
                                                    <div class="tagcloud-control-button" style="--index: 23"><input type="radio"
                                                        name="tagcloud-control-input"></div>
                                                        <div class="tagcloud-control-button" style="--index: 24"><input type="radio"
                                                            name="tagcloud-control-input"></div>
                                                            <div class="tagcloud-control-button" style="--index: 25"><input type="radio"
                                                                name="tagcloud-control-input"></div>


                <div class="tagcloud-rotation">
                    <ul class="tagcloud-tags" style="--num-elements: 26">

                        <li class="tagcloud-tag" style="--index: 1">
                            <div><a href="" target="_blank">Glossing</a></div>
                        </li>
                        <li class="tagcloud-tag" style="--index: 2">
                            <div><a href="" target="_blank">Sign Language Recognition</a></div>
                        </li>
                        <li class="tagcloud-tag" style="--index: 3">
                            <div><a href="" target="_blank">Phoneme</a></div>
                        </li>
                        <li class="tagcloud-tag" style="--index: 4">
                            <div><a href="" target="_blank">Iconicity</a></div>
                        </li>
                        <li class="tagcloud-tag" style="--index: 5">
                            <div><a href="" target="_blank">Pose Estimation</a></div>
                        </li>
                        <li class="tagcloud-tag" style="--index: 6">
                            <div><a href="" target="_blank">Haptics</a></div>
                        </li>
                        <li class="tagcloud-tag" style="--index: 7">
                            <div><a href="" target="_blank">Phonology </a></div>
                        </li>
                        <li class="tagcloud-tag" style="--index: 8">
                            <div><a href="" target="_blank">Hand Tracking</a></div>
                        </li>
                        <li class="tagcloud-tag" style="--index: 9">
                            <div><a href="" target="_blank">Facial Grammar</a></div>
                        </li>
                        <li class="tagcloud-tag" style="--index: 10">
                            <div><a href="" target="_blank">Semantic Mapping</a></div>

                        <li class="tagcloud-tag" style="--index: 11">
                            <div><a href="" target="_blank">Dynamic Signing</a></div>
                        </li>
                    </li><li class="tagcloud-tag" style="--index: 12">
                        <div><a href="" target="_blank">Hand Tracking</a></div>
                    </li>
                        <li class="tagcloud-tag" style="--index: 13">
                            <div><a href="" target="_blank">Disambiguation</a></div>
                        </li>
                        <li class="tagcloud-tag" style="--index: 14">
                            <div><a href="" target="_blank">Translational Fidelity</a></div>
                        </li>
                        <li class="tagcloud-tag" style="--index: 15">
                            <div><a href="" target="_blank">Cultural Nuances</a></div>
                        </li>
                        <li class="tagcloud-tag" style="--index: 16">
                            <div><a href="" target="_blank">Interactive Visualization</a></div>
                        </li>
                        <li class="tagcloud-tag" style="--index: 17">
                            <div><a href="" target="_blank">American Sign Language</a></div>
                        </li>
                        <li class="tagcloud-tag" style="--index: 18">
                            <div><a href="" target="_blank">Fingerspelling</a></div>
                        </li>
                        <li class="tagcloud-tag" style="--index: 19">
                            <div><a href="" target="_blank">Computer Vision/3D Modeling</a></div>
                        </li>
                        <li class="tagcloud-tag" style="--index: 20">
                            <div><a href="" target="_blank">Sign Synthesizer</a></div>
                        </li>
                        <li class="tagcloud-tag" style="--index: 21">
                            <div><a href="" target="_blank">Translation/Transliteration</a></div>
                        </li>
                        <li class="tagcloud-tag" style="--index: 22">
                            <div><a href="" target="_blank">Manual Alphabet</a></div>
                        </li>
                        <li class="tagcloud-tag" style="--index: 23">
                            <div><a href="" target="_blank">Sign Language Gloss</a></div>
                        </li>
                        <li class="tagcloud-tag" style="--index: 24">
                            <div><a href="" target="_blank">Avatar-based Signing</a></div>
                        </li>
                        <li class="tagcloud-tag" style="--index: 25">
                            <div><a href="" target="_blank">Machine Learning</a></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>

</html>